.ant-tabs-left {
  > .ant-tabs-nav .ant-tabs-nav-list {
    
    .ant-tabs-tab {
      background-color: #ffffff;
    }
  }
  .ant-tabs-content-holder {
    border: none;
  }
}

.ant-descriptions.ant-descriptions-bordered .ant-descriptions-view {
  border: none;
}

.ant-table-wrapper tr.ant-table-expanded-row-level-1 > td {
  background:  #ffffff !important;
}
.ant-table-wrapper.internal-table {
  thead.ant-table-thead > tr > th.ant-table-cell {
    background:  #f0f0f0 !important;
    color: black;
    border-radius: 0 !important;
    cursor: default;
  }
}
.ant-table-tbody > tr.ant-table-row {
  &.my-table-row{
    &:hover > td { 
    background:  #e6f4ff !important;
  }
  > td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}
  &.my-table-expanded-row {    
    & > td {
      background: #dadada !important;

    }
    &:hover > td {   
      background:  #e6f4ff !important;
    }
  }
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}