.site-layout {
  &-content {
    background: #fff;
    padding-top: 8px;

  }
}
.page-layout {
  min-height: 100vh;
  .header {
    background-color: #ffffff;
    height: 100%;
  }
  .content {
    flex-grow: 3;
    min-height: 100%;
    background: #e6f4ff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
  }
  .mobile-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.patients {
  &-table {
    & thead th {
      color: #ffffff;
    }
    & tbody tr {
      cursor: pointer;

      border-radius: 0px;
    }    
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.site-custom-tab-bar {
  background-color: #ffffff;
  border-radius: 0px 10px 0px 10px;
}

.active-table-item {
  &__not-active {
    color: #e60000;
  }
  &__active {
    color: #0c9500;
  }
}



