@import "../../app/scss/vars.scss";
//@import '~antd/dist/antd.css';
.header {
  &-top {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    &__menu {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
.header__toolbar {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 50px;
  width: 233px;
}
.ant-page-header-footer {
  margin-top: 0px;
}