.my-table {
  //background-color: darkseagreen;
  //width: 100%;
  overflow-x: hidden;
  table-layout: fixed;

  &__row {
    width: 100%;
    &:nth-child(2n - 1) {
      background-color: azure;
    }
    //background-color: red;
  }
  &__cell {
    max-width: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    //max-width: 200px;
    //background-color: green;
    &_small {
      width: 10%;
      //background-color: red;
      //background-color: blue;
    }
    &_align-right {
      text-align: end;
    }
  }
}

// padding: 0,
// paddingLeft: 5,
// 
// 
// 
// 
