.form-item {
  color: #ffffff;
  width: 140px;
  background-color: #1677FF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-button {
  width: 100px;
}